{% extends "_base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}
    {{ book.title }}
{% endblock %}

{% block icon_block %}
    <link rel="stylesheet" href="{% static 'css/book_detail.css' %}">
    <div id="cart-icon" class="form-inline my-2 my-lg-0">
        <a href="{% url 'cart' %}" class="fa fa-shopping-cart" aria-hidden="true">
        </a>
        {% if total_cart_items != 0 %}
            <p id="cart-total">{{ total_cart_items }}</p>
        {% endif %}

    </div>
{% endblock icon_block %}

{% block content %}
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="{% static 'js/book_detail.js' %}"></script>
<div style="display:flex">
    <div class="col-sm-3" >
        {% if  book.cover %}
        <img style="width: 260px; height: 377px; object-fit: contain;" src="{{ book.thumbnail }}" alt="image not available">
        {% else %}
        <img style="width: 260px; height: 377px; object-fit: contain;" src="{% static 'images/not_avaliable_cover.jpg' %}" alt="image not available">
        {% endif %}
    </div>
    <div class="col-sm-4 card">
        <div class="card-body">
            <h5 class="card-title">{{ book.title }}</h5>
            <ul class="list-group">
                <li class="list-group-item active">Author: {{ book.author }}</li>
                <li class="list-group-item list-group-item-info">Price: $ {{ book.price }}</li>
                <li class="list-group-item list-group-item-dark">Publisher: {{ book.publisher }}</li>
                <li class="list-group-item list-group-item-warning">ISBN 10: {{ book.isbn10 }}</li>
                <li class="list-group-item list-group-item-warning">ISBN 13: {{ book.isbn13 }}</li>
                <li class="list-group-item list-group-item-light">published date: {{ book.published_date }}</li>
                <li class="list-group-item list-group-item-light">pages: {{ book.pages }}</li>
                <li class="list-group-item list-group-item-light">language: {{ book.language }}</li>
            </ul>
            <a href="#" class="btn btn-primary btn-lg"><strong></strong></a>
        </div>
     </div>
    <div class="panel panel-primary col-sm-4">
      <div class="panel-heading">descriptrion</div>
      <div class="panel-body">{{ book.description }}</div>
    </div>

</div>
<br>
<hr>
<br>
    <h5>Reviews</h5>
    {% for item in reviews %}
        <div class="container-fluid">

            <div class="btn-group mr-2">
                <button class="btn btn-sm btn-outline-secondary">{{ item.reviewer }}</button>
                <button class="btn btn-sm btn-outline-secondary">{{ item.review_datetime }}</button>
                <button class="btn btn-sm btn-outline-secondary">
                    <i class="fa fa-thumbs-up" aria-hidden="true"></i>
                    <strong id = "{{ item.id }}_value"> {{ item.likes }} </strong>
                </button>
            </div>
            <div class="row">
                <div class="col-md-7">
                <ul class="list-group">
                    <li class="list-group-item" >{{ item.review }}</li>
                </ul>
                </div>
                <div class="col-md-1">
                    <a href="#" class="alike" id="{{ item.id }}_link" data-link-id="{{ item.id }}"> <i class="fa fa-thumbs-up" aria-hidden="true"></i> </a>
                </div>
            </div>
        </div>
        <br>
        <script>
            $(document).ready(function(){
                $('#{{ item.id }}_link').click(function(){
                    var review_id;
                    review_id = $(this).attr("data-link-id");
                    $.get('{% url "like_review" %}', {review_id: review_id}, function(data){
                        $('#{{ item.id }}_value').html(data);
                        $('#{{ item.id }}_link').hide();
                    });
                });
            });
        </script>
    {% endfor %}
<div class="container" id="review_form_div">
    {% if not user.username in all_reviewers %}
        <form id="review_form" method="post" action="{% url 'book_detail' slug %}" style="padding-left:4%;">
            <div class="row">
            <div class="col-md-6">
            {% csrf_token %}
            {{ form|crispy }}
            </div>
            <div class="col-md-2">
                <button class="btn btn-primary my-2 my-sm-0" id="submit-btn" type="submit" name="submit" value="add review">Add Review</button>
            </div>
            </div>
        </form>
    {% endif %}
</div>
{% endblock content %}