{% extends "_base.html" %}
{% load static %}
{% block style_block %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/book_list.css' %}">
{% endblock %}
{% block title %}
    book list
{% endblock %}
{% block search %}
    <form class="form-inline">
        <div style="display:flex">
            <div class="form-group">
                <input class="form-control" type="search" placeholder="Search" name="query" aria-label="Search">
            </div>
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </div>
    </form>
{% endblock %}

{% block icon_block %}
    <div id="cart-icon" class="form-inline my-2 my-lg-0">
        <a href="{% url 'cart' %}" class="fa fa-shopping-cart" aria-hidden="true">
        </a>
        {% if total_card_items != 0 %}
            <p id="cart-total">{{ total_card_items }}</p>
        {% endif %}
    </div>

{% endblock icon_block %}

{% block content %}
<div class="row row-cols-1 row-cols-md-6">
    {% for book in books %}
    <div class="col md-8" style="padding-bottom: 2%;">
        <div class="card shadow-sm bg-dark sm-5 rounded" style="max-width: 100%;">
            <div class="col-sm-12">
                {% if book.cover %}
                <img  src="{{ book.thumbnail }}" class="thumbnail card-img-top" alt="image not available">
                {% else %}
                <img src="{% static 'images/not_avaliable_cover.jpg' %}" class="thumbnail card-img-top" alt="...">
                {% endif %}
            </div>
            <div class="card-body">
                <h10 class="card-title"><a href='{{ book.get_absolute_url }}'> {{ book.title }} </a></h10>
                <p class="card-text"></p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item list-group-item-dark">author: {{ book.author }}</li>
                <li class="list-group-item list-group-item-light"><strong>$ </strong>{{ book.price }}</li>
            </ul>
            <div class="card-body">
                <a id="add-to-cart" href="#" data-book="{{ book.id }}" data-action="add_book" class="update-cart btn button-secondary ">
                    <i class="fa fa-cart-plus" aria-hidden="true"></i>
                </a>
                <a id="buy-now" href="#" class="btn button-secondary">
                    <i class="fa fa-credit-card-alt" aria-hidden="true"> buy now</i>
                </a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}