.list-group-item {
    padding: 0.25rem 1.25rem;
}
.card {
    border-radius: 1.25rem;
    box-shadow:hsl(0, 0%, 80%) 0 0 16px;
	background-color: #fff;
}
#add-to-cart {
    font-size: 111%;
}
#cart-total {
	display: block;
	text-align: center;
	color:#fff;
	background-color: red;
	width: 20px;
	height: 25px;
	border-radius: 50%;
	font-size: 14px;
}
#on-img-cart{
    position: absolute;
    bottom: 2%;
    left: 2%;
    padding: 5px;
    background-color: black;
    border: 2px solid #2f8039;
    border-radius:2rem;
}
#on-img-cart:hover{
    border: 2px solid #50d80c;
}
#on-img-buynow{
    position: absolute;
    bottom: 2%;
    right: 2%;
    padding: 5px;
    background-color: black;
    border: 2px solid #2f8039;
    border-radius:2rem;
}
#on-img-buynow:hover{
    border: 2px solid #50d80c;
}
#buy-now {
    font-size: 108%;
}

.box-element {
box-shadow:hsl(0, 0%, 50%) 0 0 2px;
background-color: #fff;
border-radius: 4px;
padding: 10px;
}

.card-body {
-ms-flex: 1 1 auto;
flex: 1 1 auto;
min-height: 1px;
padding : 1px;
text-align: center;
padding-left: 3%;
padding-right: 3%;
}
.text-booktitle {
  font-size: 0.7rem;
  line-height: 0.7rem;
}
a:link { COLOR: #2f8039 ; TEXT-DECORATION: none; font-weight: normal }
a:visited { COLOR: #2f8039 ; TEXT-DECORATION: none; font-weight: normal }
a:active { COLOR: #2f8039 ; TEXT-DECORATION: none }
a:hover { COLOR: #50d80c ; TEXT-DECORATION: none; font-weight: none }