{% extends '_base.html' %}
{% load socialaccount %}
{% providers_media_js %}
{% block title %}
    Home
{% endblock %}
{% block sidebar_block %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    {% if not user.is_authenticated %}
        <a href="{% provider_login_url 'facebook' method='oauth2' %}" class="fb btn">
              <i class="fa fa-facebook fa-fw"></i> Login with Facebook
        </a>
        <a href="{% provider_login_url 'google' %}" class="google btn"><i class="fa fa-google fa-fw">
          </i> Login with Google+
        </a>
    {% endif %}
{% endblock %}
{% block content %}
    <h1>HomePage</h1>
{% endblock %}